<div class="isolate px-6 lg:px-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Próximas Atividades</h2>    
    
    <div class="my-8">
    <mat-card *ngFor="let activity of upcomingActivities" class="mb-4" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{activity.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{activity.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Minhas Disciplinas</h2>    
    <ul role="list" class="divide-y divide-gray-100">
        <li *ngFor="let subject of currentSubjects" class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{subject.name}}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{subject.description}}</p>
            </div>
            </div>
            <!-- <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
            </div> -->
        </li>
    </ul>
    
  
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Cursos Extras</h2>    
    <ul role="list" class="divide-y divide-gray-100">
        <li *ngFor="let extraCourse of extraCourses" class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{extraCourse.name}}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{extraCourse.description}}</p>
            </div>
            </div>
            <!-- <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
            </div> -->
        </li>
    </ul>
</div>


